@page "/"
@inject Services.StateContainer State
@inject IJSRuntime JSRuntime

<ConfigurationLoader @bind-Configuration="State.AppConfig" />

<h1>Hello, world!</h1>

Welcome to your new app.

<GeoJsonMap GeoJsonString="@geometry" />

@if (State != null)
{
    <p>LastUpdated: @State.LastUpdated</p>
}
else
{
    <p>None loaded</p>
}

<div class="alert alert-info">
    <MetadataLoaderFileSystem @bind-Metadata="State.MetadataEdit" />
    @if (State.MetadataEdit != null)
    {
        <p>Creation: @State.MetadataEdit.CreationDate</p>
    }
</div>

<MetadataEditor @bind-Metadata="State.MetadataEdit"
                AppConfig="State.AppConfig" />



@code{
    string geometry = "{\"type\":\"Polygon\",\"coordinates\":[[[-117.08001136779785,46.75109420013507],[-117.06121444702147,46.75109420013507],[-117.06121444702147,46.76082613370459],[-117.08001136779785,46.76082613370459],[-117.08001136779785,46.75109420013507]]]}";
}